@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

html {
    /* font-family: ui-serif, Georgia, "Times New Roman", Times, serif; */
    font-family: 'Inter', sans-serif;;
}

.text-color {
    color: #63584c
}

.image-card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: top;
}

.card-product-img:before {
    content: "";
    display: block;
    padding-top: 83.695652%
}

.product-img:before {
    content: "";
    display: block;
    padding-top: 110%
}

.card-icon {
    top: 60%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out
}

.card-product:hover .card-icon {
    top: 50%;
    opacity: 0.9;
}

.category .category-image:hover img {
    animation: circular 5s linear 0s infinite
}

.category .category-image:hover ~ h5 {
    color: rgb(180 83 9);
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    transition: .5s ease;
}

.category-image:hover .overlay {
    opacity: 0.3;
}

.nav-category button.nav-link.active {
    border-color: rgb(217 119 6);
    color: rgb(180 83 9);
}

.productListPage {
    position: relative;
}

.buttonSideNav {
    position: sticky;
    top: 50%;
    left: 0;
    z-index: 500;
    transform: translate(-16px, 0);
}

.ItemDetail {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.breadcrumbsItemDetail {
    background-image: url('/src/assets/images/logos/banner-product-item.PNG');
}


/* Set Toast Color */
.Toastify__toast--default {
    background: #fff;
    color: rgb(161, 161, 161);
}

.Toastify__progress-bar {
    background: rgb(183, 178, 178);
}

/* Hide Arrows From Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Loading */
.loading-id {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;
}

.loading-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
    z-index: 100;
}

.icon-seemore:hover i {
    color: white;
}
.rdt_TableCell,.rdt_TableHeadRow {
    font-size: 16px;
    text-align: center;
}
@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes circular {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}
@media (max-width: 991px) {
    .rdt_Table {
        width: full;
    }
}
.image-detail {
    height: 600px;
}
.rdt_TableCell {
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
}
.rdt_TableCol {
    display: flex;
    justify-content: center;
}
.rdt_TableCell img {
    height: 65px;
    width: 65px;
}
.rdt_TableCell {
    white-space: pre-wrap;
}
#actionId {
    display: flex;
    align-items: flex-end;
}
/*----------------------------------------*/
.dataDoughnut canvas {
    height: 450px !important;
    width: 450px !important;
}
/*---------------------------------------*/
.navbar-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition-duration: 300ms;
    background-color: transparent;
}
@media (max-width: 1024px) {
    .navbar-area {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: #ffffff !important;
    animation: 100ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
}